name: Call DevOps Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  Build:
    uses: redasaad123/CI-CD-GitHub-Action/.github/workflows/Build.yml@main

    with:
      app_name: redan ## repository name must be lowercase

    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  Deploy:
    needs: Build
    uses: redasaad123/CI-CD-GitHub-Action/.github/workflows/Deploy.yml@main

    with:
      app_name: redan ## repository name must be lowercase

    secrets: 
      DOCKER_USERNAME: ${{ secrets.IP_MASTER }}
      DOCKER_PASSWORD: ${{ secrets.PRIVATE_KEY }}
      

    


  